body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #4a69bd, #607d8b);
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}


h1 {
    color: #4a69bd; /* Não esquecer de mudar o código a cor para hexadecimal*/

    margin-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #4a69bd;
    outline: none;
}

button {
    padding: 12px 25px;
    background-color: #4a69bd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #384e8a;
}

#resultado {
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para cores de feedback no JavaScript (nao esquecer de separar) */


#resultado[style*="dc3545"] {
    background-color: #f8d7da;
    color: #dc3545 !important;
}

#resultado[style*="28a745"] {
    background-color: #d4edda;
    color: #155724 !important;
}
