        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(to right, #4a69bd, #607d8b);
            color: #333;
        }

        .container {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 15px;
            text-align: center;
            width: 350px;
            transition: transform 0.3s ease-in-out;
        }


        h1 {
            color: #4a69bd;
            margin-bottom: 20px;
            border-bottom: 2px solid #f4f4f4;
            padding-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #555;
        }

        input[type="number"] {
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        input[type="number"]:focus {
            border-color: #4a69bd;
            outline: none;
        }

        button {
            padding: 12px 25px;
            background-color: #4a69bd;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #384e8a;
        }

        #resultado {
            margin-top: 25px;
            font-size: 26px;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
        }